<html>
	<%= form_for(@Dashboard) do |f| %>
	<div class='form-group'>
		<label class='control-label'> Name </label>
		<%= f.text_field:name, :class => "form control", required:true %>
		</div>

		<hr>

		<div class='form-action pull-right' style='margin-bottom: 0'>
		<%= link_to dashboards_path,style:"margin-right:15px;" do%> Cancel <%end%>
		<%= f.submit class:'btn btn-success',data:{disable_with:"please wait...." }%>
		</div>
		<%end%>
</html>
